.home-card {
    & .container {
        & .slider-item {
            background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
        }

        .awssld__wrapper {
            max-height: 500px;
        }
        .awssld {
            --control-bullet-active-color: $blue !important;
            --loader-bar-color: $blue !important;
            --organic-arrow-color: transparent;
            --control-button-background: transparent;
            --control-bullet-color: transparent;

            & .text {
                padding: 20px;
                border-radius: 2px;
                font-size: 25px;
                background: rgba(0, 0, 0, 0.5); 
                max-width: 450px;
                color: white;
            }
        }
    }
}

/* @media only screen and (min-width: 600px) {...} */
/* @media only screen and (min-width: 768px) {...} */
@media (max-width: 760px) {
    .home-card {
        & .container {
            & .awssld {
                & .text {
                    padding: 18px;
                    font-size: 22px;
                    max-width: 420px;
                }
            }
        }
    }
  } 

  @media (max-width: 600px) {
    .home-card {
        & .container {
            & .awssld {
                & .text {
                    padding: 17px;
                    font-size: 19px;
                    max-width: 400px;
                }
            }
        }
    }
  } 
