.contact-container {
    width: 100%;
    padding: 50px 30px;
    min-height: 400px;
    background: #fff7f7;
}

hr {
    margin: 0 30px;
    color: $gray-2;
}

@media (max-width: 950px) {
    hr {
      margin: 0;
    }   
}