.modal-form {
    width: 100%;
    padding: 10px 0 0 0;

        & .ant-input {
            height: 40px;
            border-radius: 3px;
            border-color: $blue;
            color: $black;
            font-weight: 600;

            &:hover {
                border-color: $blue;
            }
            &:focus {
                border-color: $blue;
                box-shadow: $blue;
            }
        }
        & .ant-form-item {
            margin-bottom: 15px !important;
        }

        & .ant-form-item-label > label {
            color: $black;
            font-size: 15px;
            font-weight: 600;
        }

        & .ant-form-item-explain-error {
            font-weight: 600;
        }

        & .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
            display: none !important
        }
    }

    .ant-modal-content {
        & .ant-modal-body {
            padding: 24px 24px 5px 24px !important;
        }

        & .ant-modal-footer {
            padding: 0px 24px 20px 24px !important;
            height: 55px;
            & .submit-btn {
                background-color: $blue;
                border-radius: 4px;
                border: 1px solid $blue;
                color: $gray-1;
                font-weight: 600;
                font-size: 15px;
                transition: all 600ms ease;
            }
            & .cancel-btn {
                background-color: transparent;
                border-radius: 4px;
                border: 1px solid $blue;
                color: $blue;
                font-weight: 600;
                font-size: 15px;
                transition: all 600ms ease;
            }
            & button:hover {
                background: #08243e;
                color: $gray-1;
            }
        }
    }
